{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    
</head>
<body>
    <aside>
        <img src="{% static 'main/img/logo_simple.svg' %}" height="30px"  alt="photo">
        <span class="logo">ItProger</span>
        <h3>Навигация</h3>
        <ul>
            <li>Главное</li>
            <li>Про нас</li>
            <li>Контакты</li>
        </ul>
    </aside>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>